{% extends "padre.html" %}

{% load static %}


{% block title %}

{% endblock %}


{% block content%}

<div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
  <div>
      <div class="img_card">
          <div class="row justify-content-center">
              <div class="col-md-6 col-7 content_section">
                  <!--=================== contact info and form start====================-->
                  <div class="content_box">
                      <div class="content_box_inner">
                          <div>
                              <h3>
                                 Modificar Proveedor
                              </h3>
                              <p>
                             Bienvenido a Cacharrerias Don Andres recuerde llenar muy bien los campos antes de Modificar un Proveedor 
                              </p>
                              <br>
                              
                              <div class="mt75 row justify-content-center">
                                                      

                                {% for categoria in shelf %}

                                <div class="grid-item branding col-sm-12 col-md-6 col-lg-3">
                                <div class="card" style="width: 10rem;">
                                <div class="card-body">    
                                <h5 class="card-title"><strong>{{ categoria.nombre_categoria }}</strong></h5>
                                <p class="card-text"><strong>ID:</strong><strong style="color: brown;">{{ categoria.id_categoria }}</strong></p>
                                <p class="card-text"><strong>Codigo:</strong> <strong style="color: brown;">{{ categoria.codigo_categoria }}</strong></p>
                                
                               <center>
                                <form action="/resulmodiproveedor/{{proveedor.id_proveedor}}" method="GET">
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </form>

                                    <form action="/eliminarproveedor/{{proveedor.id_proveedor}}" method="GET">
                                      <button type="submit" class="btn btn-primary">Eliminar</button>
                                  </form>

                              </center>
                                </div>
                              </div>
                            </div>
                            <br>
                            
                            {% endfor %}
                        </div>


                          </div>
                      </div>
                  </div>
                  <!--=================== contact info and form end====================-->
              </div>
          </div>              
        </div>
  </div>
</div>

{% endblock %}